<div class="grid justify-content-center">
    <p-card header="Registrar Evento" class="col-8">
        <form>
            <div class="p-fluid grid">
                <kj-input-text class="field col-12 md:col-6" label="Nombre"></kj-input-text>
    
                <kj-input-text class="field col-12 md:col-6" label="Destinatarios"></kj-input-text>
                
                <kj-calendar class="field col-12 md:col-6" label="Fecha"></kj-calendar>
                
                <kj-input-text class="field col-12 md:col-6" label="Tipo de Evento"></kj-input-text>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <textarea inputId="descripcion" rows="3" pInputTextarea></textarea>
                        <label for="descripcion">Descripción</label>
                    </span>
                </div>
            </div>
        </form>
    </p-card>
</div>