<p-menubar>
  <ng-template pTemplate="start">
    <!-- <img src="/assets/images/kinjo.png" height="40" class="p-mr-3" alt=""> -->
    <!-- <button type="text" pButton label="Click me" (click)="show($event)"></button> -->
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-bars"
      class="p-button-rounded p-button-text p-button-secondary"
      (click)="show($event)"
    ></button>
  </ng-template>
  <ng-template pTemplate="end">
    <ul class="flex align-items-center">
      <li>
        <label class="mr-2">
          {{ username | titlecase }}
        </label>
      </li>
      <li>
        <button pButton pRipple type="button" icon="pi pi-user"
          class="p-button-rounded p-button-secondary p-button-outlined"
          (click)="menu.toggle($event)"
        ></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
      </li>
    </ul>

    <!-- <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar> -->
  </ng-template>
</p-menubar>