<div class="flex justify-content-center">
    <p-card class="col-12 md:col-6 lg:col-4 mt-6">
        <p class="mt-0 pt-0 title md:text-2xl">{{ 'LOGIN.titulo' | translate }}</p>
        <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="ingresar()">
            <div class="field">
                <label>{{ 'LOGIN.txtEmail' | translate }}</label>
                <input id="username" type="text" pInputText formControlName="email">

                <div *ngIf="formErrors.mostrarError(loginForm, 'email') && (email.dirty || email.touched)">
                    <small class="p-error">
                        {{
                        'FormErrors.' + formErrors.errorMsg(loginForm, 'email') | translate
                        }}
                    </small>
                </div>
            </div>

            <div class="field">
                <label>{{ 'LOGIN.txtPassword' | translate }}</label>
                <input id="password" [type]="hidePassword ? 'password' : 'text'" pInputText formControlName="password">

                <div *ngIf="formErrors.mostrarError(loginForm, 'password') && (password.dirty || password.touched)">
                    <small class="p-error">
                        {{
                        'FormErrors.' + formErrors.errorMsg(loginForm, 'password') | translate
                        }}
                    </small>
                </div>
            </div>
            <div class="field">
                <p-checkbox value="true" label="{{ 'LOGIN.txtMostrarPass' | translate }}" (onChange)="hide()">
                </p-checkbox>
            </div>
            <div class="flex justify-content-end">
                <a href="#">{{ 'LOGIN.txtOlvido' | translate }}</a>
            </div>

            <div class="flex justify-content-between mt-4">
                <div class="flex align-items-start">
                    <a href="#" routerLink="/signup">
                        {{ 'LOGIN.txtCrear' | translate }}
                    </a>
                </div>
                <div class=" flex align-items-end">
                    <button pButton type="submit" class="p-button-primary" [disabled]="loginForm.invalid">
                        {{ 'LOGIN.btnIngresar' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </p-card>
</div>

<p-toast ></p-toast>